/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
	--clr-white: #fff;
	--clr-light-gray: #8c8c8c;
	--clr-gray: #f5f6f7;
	--clr-light-blue: #5bd1d7;

	--bg-clr: #f1f1f1;
	--clr-main: #000;
	--clr-accent: #fdcf08;

	--border: #d9d9d9;
}

html {
	font-size: 100%;
	scroll-behavior: smooth;
}

html,
body {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	height: 100vh;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

ul li {
	list-style-type: none;
}

img, svg {
	display: inline-block;
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

a {
	color: inherit;
}

button {
	padding: 0;
	border-radius: 0;
	border: none;
	color: inherit;
}

button, label {
	cursor: pointer;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	color: var(--clr-main);
}
body.lock {
	overflow: hidden;
}

.app {
	min-height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	overflow: hidden;
}
.page {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}

.container {
	max-width: 1300px;
	padding: 0 15px;
	margin: 0 auto;
}
.container-min {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.visually-hidden {
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: none;
	clip: rect(0 0 0 0);
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

p + p {
	margin-top: 1em;
}

.btn {
	padding: 0.5rem 2rem;
	display: inline-block;
	font-weight: 500;
	font-size: 0.875rem;
	text-decoration: none;
	color: var(--clr-white);
	background-color: var(--clr-main);
	border-radius: 6.25rem;
	border: 2px solid var(--clr-main);
	-webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
	box-shadow: 10px 10px 15px rgba(0, 0 , 0, 0.25);
	-webkit-transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
	-o-transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
	transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}
.btn:hover {
	background-color: var(--clr-accent);
	border-color: var(--clr-accent);
}
.btn-white {
	color: var(--clr-main);
	background-color: var(--clr-white);
	border-color: var(--border);
}
.btn-white:hover {
	background-color: var(--clr-white);
	border-color: var(--clr-main);
}

.clr-accent {
	color: var(--clr-accent);
}

._bg-main {
	background-color: var(--bg-clr);
}

._spt {
	padding-top: 10rem;
}
._smt {
	margin-top: 10rem;
}

.title-section {
	margin-bottom: 2rem;
	font-weight: 800;
	font-size: 2rem;
}

/** ================== video-link ================== */
.video-link {
	padding: 0.5rem 1.5rem 0.4rem;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 0.5rem;
	font-weight: 600;
	font-size: 1rem;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--clr-white);
	background-color: var(--clr-accent);
	border-radius: 0.75rem;
	-webkit-transition: background-color .3s ease-in;
	-o-transition: background-color .3s ease-in;
	transition: background-color .3s ease-in;
}
.video-link__icon {
	width: 2rem;
	height: 2rem;
}
.video-link:hover {
	background-color: var(--clr-main);
}
/** ================== /video-link ================== */

/** ================== link-back ================== */
.link-back {
	margin: 1rem 0;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 0.5rem;
	font-weight: 600;
	font-size: 1.125rem;
	text-decoration: none;
	color: var(--clr-main);
	-webkit-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}
.link-back:hover {
	color: var(--clr-accent);
}
.link-back svg {
	width: 0.5625rem;
	height: 0.5625rem;
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.link-back svg path {
	fill: var(--clr-main);
	-webkit-transition: fill .3s ease-in-out;
	-o-transition: fill .3s ease-in-out;
	transition: fill .3s ease-in-out;
}
.link-back:hover svg path {
	fill: var(--clr-accent);
}
/** ================== /link-back ================== */

/** ================== decor ================== */
.decor-top {
	width: 60vw;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
}
.decor-top img {
	width: 100%;
	-o-object-fit: contain;
	   object-fit: contain;
}

.products__decor {
	position: absolute;
	z-index: -1;
}
.products__decor img {
	width: 100%;
	-o-object-fit: contain;
	   object-fit: contain;
}
.products__decor--top {
	top: -1rem;
	left: 0;
}
.products__decor--bottom {
	bottom: -11.25rem;
	right: -3.125rem;
}
/** ================== /decor ================== */

/** ================== logo ================== */
.logo {
	max-width: 12.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 0.5rem;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 1;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--clr-main);
}
.logo__title {
	margin: 0;
	font-size: inherit;
}
.logo b {
	color: var(--clr-accent);
}
.logo img {
	max-width: 3rem;
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	   object-fit: contain;
	-webkit-filter: brightness(0) saturate(100%) invert(92%) sepia(22%) saturate(6145%)
		hue-rotate(355deg) brightness(104%) contrast(99%);
	        filter: brightness(0) saturate(100%) invert(92%) sepia(22%) saturate(6145%)
		hue-rotate(355deg) brightness(104%) contrast(99%);
}
/** ================== /logo ================== */

/** ================== tg-widget ================== */
.tg-widget {
	position: fixed;
	left: 1.75rem;
	bottom: 3rem;
	z-index: 40;
}
.tg-widget__link {
	padding: 0.5rem;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background-color: var(--clr-main);
	-webkit-box-shadow: 0.25rem 0.5rem 0.75rem rgba(0, 0 , 0, 0.15);
	        box-shadow: 0.25rem 0.5rem 0.75rem rgba(0, 0 , 0, 0.15);
	-webkit-transition: background-color .3s ease-in;
	-o-transition: background-color .3s ease-in;
	transition: background-color .3s ease-in;
}
.tg-widget__link svg {
	width: 1.75rem;
	height: 1.75rem;
}
.tg-widget__link svg path {
	fill: var(--clr-accent);
	-webkit-transition: fill .3s ease-in;
	-o-transition: fill .3s ease-in;
	transition: fill .3s ease-in;
}
.tg-widget__link:hover {
	background-color: var(--clr-accent);
}
.tg-widget__link:hover svg path {
	fill: var(--clr-main);
}
/** ================== /tg-widget ================== */

/** ================== block-text ================== */
.block-text {
	margin: 0 auto;
	max-width: 37.5rem;
	display: -ms-grid;
	display: grid;
	gap: 0.5rem;
	text-align: center;
}
.block-text__subtitle {
	font-weight: 500;
	font-size: 1.875rem;
}
.block-text__title-min {
	font-weight: 800;
	font-size: 2.125rem
}
.block-text__title {
	font-weight: 900;
	font-size: 4rem;
	text-transform: uppercase;
}
.block-text__description {
	margin: 0 auto;
	max-width: 41rem;
	font-weight: 300;
}
/** ================== /block-text ================== */

/** ================== breadcrumbs ================== */
.breadcrumbs {
	padding: 1.5rem;
}
.breadcrumbs__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	gap: 0.5rem;
	line-height: 116%;
}
.breadcrumbs__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 0.5rem;
	font-weight: 600;
	font-size: 1.125rem;
	text-decoration: none;
	-webkit-transition: color .3s ease-in;
	-o-transition: color .3s ease-in;
	transition: color .3s ease-in;
}
.breadcrumbs__link:hover {
	color: var(--clr-accent);
}
.breadcrumbs__current {
	font-size: 1.125rem;
}
/** ================== /breadcrumbs ================== */

/** ================== links-contacts ================== */
.links-contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.links-contacts__link + .links-contacts__link {
	margin-left: 2.5rem;
}
.links-contacts__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-decoration: none;
	gap: 0.625rem;
}
.links-contacts__icon {
	width: 2rem;
	height: 2rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	border-radius: 50%;
	background-color: var(--clr-accent);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}
.links-contacts__link:hover .links-contacts__icon {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}
.links-contacts__icon svg {
	width: 0.875rem;
	height: 0.875rem;
}
.links-contacts__wrap {
	display: -ms-grid;
	display: grid;
	gap: 0.375rem;
}
.links-contacts__title {
    font-weight: 600;
	font-size: 0.875rem;
	color: var(--clr-main);
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}
.links-contacts__link:hover .links-contacts__title {
    color: var(--clr-light-gray);
}
.links-contacts__text {
	font-size: 0.625rem;
	color: var(--clr-light-gray);
}
/** ================== /links-contacts ================== */

/** ================== header ================== */
.header {
	width: 100%;
	padding-top: 10px;
	position: absolute;
	z-index: 50;
}
.header__inner {
	padding: 1.25rem 2.5rem;
	border-radius: 0.75rem;
	border: 1px solid var(--border);
	background-color: var(--clr-white);
}
.header__top {
	padding-bottom: 1.25rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	gap: 1rem;
}
.header__bottom {
	padding-top: 1.25rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	gap: 1rem;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	border-top: 1px solid var(--border);
}
.header__btn {
	padding: 0;
	font-weight: 700;
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: var(--clr-main);
	background-color: transparent;
	border: none;
	cursor: pointer;
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}
.header__btn:hover {
    color: var(--clr-accent);
}
/** ================== /header ================== */

/** ================== menu ================== */
.menu li {
	list-style-type: none;
}
.menu a {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.25rem;
	text-decoration: none;
	color: var(--clr-main);
	-webkit-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}
.menu a:hover {
	color: var(--clr-accent);
}

.menu__icon {
	display: none;
	width: 30px;
	height: 20px;
	padding: 0;
	border: none;
	background-color: transparent;
	position: relative;
	z-index: 60;
}
.menu__icon span {
	width: 100%;
	height: 2px;
	background-color: var(--clr-main);
	position: absolute;
	left: 0;
	top: calc(50% - 1px);
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
.menu__icon span:first-child {
	top: 0;
}
.menu__icon span:last-child {
	top: auto;
	bottom: 0;
}
.menu__icon.active span {
	-webkit-transform: scale(0);
	    -ms-transform: scale(0);
	        transform: scale(0);
}
.menu__icon.active span:first-child {
	top: calc(50% - 1px);
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.menu__icon.active span:last-child {
	bottom: calc(50% - 1px);
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.menu__list {
	margin: 0;
	padding-left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	gap: 1.25rem;
}
/** ================== /menu ================== */

/** ================== form-main ================== */
.form-main__input {
	margin-bottom: 0.5rem;
	padding: 1rem 1rem 1rem 0;
	display: block;
	font-size: 0.875rem;
	border: none;
	border-bottom: 1px solid var(--border);
	outline: none;
	-webkit-transition: border-color .3s ease-in;
	-o-transition: border-color .3s ease-in;
	transition: border-color .3s ease-in;
}
.form-main__input:focus {
	border-color: var(--clr-accent);
}
.form-main__input,
.form-main__btn {
	width: 100%;
}
.form-main__btn {
	margin-top: 0.75rem;
}
/** ================== /form-main ================== */

/** ================== Modals ================== */
.modal {
	padding: 1.75rem;
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	overflow-y: auto;
	cursor: pointer;
	position: fixed;
	inset: 0;
	z-index: 700;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}
.modal__main {
	margin: auto;
	padding: 1.75rem;
	max-width: 23rem;
	position: relative;
	color: var(--clr-main);
	border-radius: 0.75rem;
	background-color: var(--clr-white);
	cursor: default;
}
.modal__title {
	margin-bottom: 0.5rem;
	font-weight: 700;
	font-size: 1.75rem;
}
.modal__text {
	margin-bottom: 0.5rem;
	font-size: 0.875rem;
}
.modal__input,
.modal__textarea {
	width: 100%;
	display: block;
	font-size: 0.875rem;
	border: none;
	border-bottom: 1px solid var(--border);
	outline: none;
	-webkit-transition: border-color .3s ease-in;
	-o-transition: border-color .3s ease-in;
	transition: border-color .3s ease-in;
}
.modal__input {
	margin-bottom: 0.5rem;
	padding: 1rem 1rem 1rem 0;
}
.modal__textarea {
	padding: 1.125rem 1.125rem 1.125rem 0;
	resize: none;
	min-height: 7.5rem;
}
.modal__input:focus,
.modal__textarea:focus {
	border-color: var(--clr-accent);
}
.modal__btn {
	margin-top: 0.75rem;
	padding: 1rem;
	display: block;
	width: 100%;
	font-weight: 600;
	font-size: 1rem;
	text-align: center;
	color: var(--clr-main);
	background-color: var(--clr-accent);
	border-radius: 0.5rem;
	-webkit-transition: color .3s ease-in, background-color .3s ease-in;
	-o-transition: color .3s ease-in, background-color .3s ease-in;
	transition: color .3s ease-in, background-color .3s ease-in;
}
.modal__btn:hover,
.modal__btn:focus {
	color: var(--clr-white);
	background-color: var(--clr-main);
}
.modal__content-item + .modal__content-item {
	margin-top: 0.75rem;
}
.modal__content-title {
	margin-bottom: 0.5rem;
	font-weight: 600;
	font-size: 1.125rem;
}
.modal__content-price {
	margin-bottom: 0.5rem;
	font-weight: 600;
	font-size: 18px;
	color: var(--clr-accent);
}
.modal__close {
	padding: 0;
	display: block;
	width: 1.25rem;
	height: 1.25rem;
	color: var(--clr-main);
	background-color: transparent;
	position: absolute;
	top: 0.75rem;
	right: 0.75rem;
	-webkit-transition: color .3s ease-in;
	-o-transition: color .3s ease-in;
	transition: color .3s ease-in;
}
.modal__close svg {
	width: 100%;
	height: 100%;
}
.modal__close:hover {
	color: var(--clr-accent);
}

.modal__main.modal-buy__main {
	max-width: 43rem;
}
/** ================== /Modals ================== */

/** ================== tabs ================== */
.tabs__navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.tab {
	display: none;
}
.tab.active {
	display: block;
}
/** ================== /tabs ================== */

/** ================== swiper ================== */
.swiper-button-prev,
.swiper-button-next {
	width: 3rem;
	height: 3rem;
	background-color: var(--clr-main);
	border-radius: 50%;
}
.swiper-button-prev::after,
.swiper-button-next::after {
	font-size: 16px;
	color: var(--clr-white);
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
	opacity: 0.6;
}
.swiper-pagination-bullet {
	width: 0.75rem;
	height: 0.75rem;
}
.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 0.5rem;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: var(--clr-accent);
}
/** ================== /swiper ================== */

/** ================== home slider ================== */
.home {
	padding-bottom: 3.125rem;
}
.home__container {
	max-width: 1200px;
}
.home__slide {
	padding: 6rem 0;
	position: relative;
}
.home__slide-content {
	max-width: 40rem;
	display: -ms-grid;
	display: grid;
	gap: 1.5rem;
}
.home__slide-subtitle {
	font-weight: 500;
	font-size: 1.25rem;
}
.home__slide-title {
	font-weight: 900;
	font-size: 3.5rem;
	line-height: 110%;
}
.home__slide-description {
	font-size: 1.5rem;
}
.home__slide-btn + .home__slide-btn {
	margin-left: 2rem;
}
.home__slide-img {
	max-width: 41.25rem;
	width: 100%;
	height: 100%;

	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	z-index: -1;
}
.home__slide-img img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	   object-fit: contain;
}
.home__slider-button-prev,
.home__slider-button-next {
	top: initial;
    bottom: 0;
	-webkit-transition: background-color 0.3s ease-in-out;
	-o-transition: background-color 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}
.home__slider-button-next {
	left: 4.25rem;
}
.home__slider-button-prev:hover,
.home__slider-button-next:hover {
	background-color: var(--clr-accent);
}
.home__slider-pagination.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
	width: auto;
	bottom: 0.875rem;
	left: 10rem;
}
/** ================== /home slider ================== */

/** ================== our-advantages ================== */
.our-advantages {
	padding: 3.125rem 0;
	background-color: var(--bg-clr);
}
.our-advantages__title {
	font-size: 1.5rem;
	text-align: center;
	text-transform: uppercase;
}
.our-advantages__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	gap: 1.5rem;
}
.our-advantages__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 0.75rem;
}
.our-advantages__item-icon-wrapper {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 4rem;
	        flex: 1 0 4rem;
	width: 4rem;
	height: 4rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	border-radius: 50%;
	background-color: var(--clr-accent);
}
.our-advantages__item-icon-wrapper img,
.our-advantages__item-icon-wrapper svg {
	width: 2rem;
	height: 2rem;
}
/** ================== /our-advantages ================== */

/** ================== profit ================== */
.profit {
	padding: 3.125rem 0;
	background-color: var(--clr-gray);
}
.profit__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	gap: 1rem;
}
.profit__text {
	display: -ms-grid;
	display: grid;
	gap: 0.625rem;
}
.profit__title {
	font-weight: 800;
	font-size: 1.5rem;
}
.profit__subtitle {
	font-weight: 500;
	font-size: 14px;
}
.profit__list {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.5rem;
}
.profit__list-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.profit__list-item--3 {
	-ms-grid-column: 3;
	-ms-grid-column-span: 2;
	grid-column: 3 / 5;
}
.profit__list-icon {
	margin-right: 1.25rem;
	width: 4.5rem;
    height: 4.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: var(--clr-accent);
	border-radius: 50%;
}
.profit__list-title {
	font-weight: 300;
	font-size: 12px;
	line-height: 160%;
}
/** ================== /profit ================== */

/** ================== products ================== */
.page-products .products {
	margin-top: -9.375rem;
}
.products {
	padding: 12.5rem 0 3.125rem;
	text-align: center;
	position: relative;
}
.products__container {
	display: -ms-grid;
	display: grid;
	gap: 2rem;
}
.products__cards {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
	gap: 0.75rem;
	overflow: hidden;
}
.products__description {
	max-width: 28rem;
}
/** ================== /products ================== */

/** ================== card-products ================== */
.card-products {
	/* padding: 1.25rem; */
	display: -ms-grid;
	display: grid;
	-ms-flex-line-pack: center;
	    align-content: center;
	justify-items: center;
	gap: 0.5rem;
	border-radius: 0.75rem;
	background-color: var(--clr-gray);
	position: relative;
	overflow: hidden;
}
.card-products::before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--clr-white);
	position: absolute;
	bottom: 50%;
	-webkit-transition: bottom .3s ease-in-out;
	-o-transition: bottom .3s ease-in-out;
	transition: bottom .3s ease-in-out;
}
.card-products__img-wrapper {
	margin-bottom: 0.75rem;
	height: 15rem;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.card-products__img-wrapper img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.card-products__title {
	margin-bottom: 0.75rem;
	font-weight: 600;
	font-size: 1rem;
	line-height: 110%;
	position: relative;
}
.card-products__content {
	padding: 0 1.25rem 1.25rem 1.25rem;
}
.card-products__link {
	padding: 0.5rem 2rem;
	display: inline-block;
	font-weight: 500;
	font-size: 0.875rem;
	text-decoration: none;
	color: var(--clr-main);
	background-color: transparent;
	border-radius: 6.25rem;
	-webkit-transition: background-color .3s ease-in-out;
	-o-transition: background-color .3s ease-in-out;
	transition: background-color .3s ease-in-out;
}
.card-products:hover .card-products__link,
.card-products__link:hover {
	background-color: var(--clr-light-blue);
}
.card-products__link::after {
	content: '';
	position: absolute;
	inset: 0;
	z-index: 20;
}
/** ================== /card-products ================== */

/** ================== partner ================== */
.partner {
	padding-bottom: 3.125rem;
}
.partner__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	gap: 1.875rem;
}
.partner__info,
.partner__img-wrapper {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 48%;
	        flex: 0 1 48%;
}
.partner__logo-wrapper {
	margin-bottom: 1.75rem;
}
.partner__title {
	margin-bottom: 1.25em;
	font-weight: 500;
	font-size: 2rem;
	line-height: 150%; 
}
.partner__description {
	font-weight: 500;
	line-height: 160%;
}
.partner--headrock .partner__link {
	background-color: #EA2442;
	border: #EA2442;
	-webkit-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}
.partner--headrock .partner__link:hover {
	opacity: 0.8;
}
.partner__link {
	margin-top: 2.5rem;
	padding: 0.625rem 2rem;
	font-size: 1rem;
}
/** ================== /partner ================== */

/** ================== manufacturer ================== */
.manufacturer__container {
	padding-top: 5rem;
	padding-bottom: 15rem;
	position: relative;
}
.manufacturer__bg,
.manufacturer__img-left {
	position: absolute;
	bottom: 0;
	z-index: -1;
}
.manufacturer__bg {
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}
.manufacturer__bg img {
	max-height: 15rem;
}
.manufacturer__img-left {
	max-width: 16.875rem;
	left: 0;
	-webkit-transform: scale(-1, 1);
	    -ms-transform: scale(-1, 1);
	        transform: scale(-1, 1);
}
.manufacturer__text {
	max-width: 40rem;
}
.manufacturer__subtitle {
	font-weight: 800;
}
.manufacturer__title {
	font-size: 3rem;
}
/** ================== /manufacturer ================== */

/** ================== form ================== */
.form__input,
.form__message {
	padding: 1.125rem 1.375rem;
	border: none;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: var(--clr-main);
	background-color: var(--clr-white);
}
.form__input {
	border-radius: 6.25rem;
}
.form__message {
	padding-top: 1.75rem;
	padding-bottom: 1.75rem;
	border-radius: 0.625rem;
	resize: none;	
}
.form__input::-webkit-input-placeholder, .form__message::-webkit-input-placeholder {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.875rem;
	color: var(--clr-light-gray);
}
.form__input::-moz-placeholder, .form__message::-moz-placeholder {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.875rem;
	color: var(--clr-light-gray);
}
.form__input:-ms-input-placeholder, .form__message:-ms-input-placeholder {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.875rem;
	color: var(--clr-light-gray);
}
.form__input::-ms-input-placeholder, .form__message::-ms-input-placeholder {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.875rem;
	color: var(--clr-light-gray);
}
.form__input::placeholder,
.form__message::placeholder {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.875rem;
	color: var(--clr-light-gray);
}
.form__label-checkbox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.form__castom-checkbox {
	margin-top: 0.125rem;
	margin-right: 0.625rem;
	display: inline-block;
	width: 1.25rem;
	height: 1.25rem;
	background-color: var(--clr-white);
	border-radius: 0.25rem;
	border: 1px solid var(--border);
	cursor: pointer;
	position: relative;
	-webkit-transition: border-color .2s ease-in;
	-o-transition: border-color .2s ease-in;
	transition: border-color .2s ease-in;
}
.form__castom-checkbox::before {
	content: '';
	display: inline-block;
	width: 0.875rem;
	height: 0.875rem;
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 30 30"><path d="M 26.980469 5.9902344 A 1.0001 1.0001 0 0 0 26.292969 6.2929688 L 11 21.585938 L 4.7070312 15.292969 A 1.0001 1.0001 0 1 0 3.2929688 16.707031 L 10.292969 23.707031 A 1.0001 1.0001 0 0 0 11.707031 23.707031 L 27.707031 7.7070312 A 1.0001 1.0001 0 0 0 26.980469 5.9902344 z"></path></svg>');
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) scale(0);
	    -ms-transform: translate(-50%, -50%) scale(0);
	        transform: translate(-50%, -50%) scale(0);
	-webkit-transition: -webkit-transform .2s ease-in;
	transition: -webkit-transform .2s ease-in;
	-o-transition: transform .2s ease-in;
	transition: transform .2s ease-in;
	transition: transform .2s ease-in, -webkit-transform .2s ease-in;
}
.form__input-checkbox:checked + .form__castom-checkbox::before {
	-webkit-transform: translate(-50%, -50%) scale(1);
	    -ms-transform: translate(-50%, -50%) scale(1);
	        transform: translate(-50%, -50%) scale(1);
}
.form__input-checkbox:focus + .form__castom-checkbox {
	border-color: var(--clr-accent);
}
.form__label-text {
	font-size: 0.875rem;
	line-height: 150%;
}
/** ================== /form ================== */

/** ================== form-feedback ================== */
.form-feedback {
	margin-top: 1.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
	gap: 1.5rem;
}
.form-feedback__grid {
	max-width: 42rem;
	width: 100%;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1rem 1fr;
	grid-template-columns: repeat(2, 1fr);
	-ms-grid-rows: 1fr 1rem 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
	grid-template-rows: repeat(5, 1fr);
	gap: 1rem;
}
.form-feedback__grid > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}
.form-feedback__grid > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}
.form-feedback__grid > *:nth-child(3) {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}
.form-feedback__grid > *:nth-child(4) {
	-ms-grid-row: 3;
	-ms-grid-column: 3;
}
.form-feedback__grid > *:nth-child(5) {
	-ms-grid-row: 5;
	-ms-grid-column: 1;
}
.form-feedback__grid > *:nth-child(6) {
	-ms-grid-row: 5;
	-ms-grid-column: 3;
}
.form-feedback__grid > *:nth-child(7) {
	-ms-grid-row: 7;
	-ms-grid-column: 1;
}
.form-feedback__grid > *:nth-child(8) {
	-ms-grid-row: 7;
	-ms-grid-column: 3;
}
.form-feedback__grid > *:nth-child(9) {
	-ms-grid-row: 9;
	-ms-grid-column: 1;
}
.form-feedback__grid > *:nth-child(10) {
	-ms-grid-row: 9;
	-ms-grid-column: 3;
}
.form-feedback__message {
	grid-column: 1 / -1;
	grid-row: 3 / -1;
}
.form-feedback__btn {
	text-align: center;
}
/** ================== /form-feedback ================== */

/** ================== feedback ================== */
.feedback {
	background-color: var(--clr-accent);
	position: relative;
	overflow: hidden;
}
.feedback__text-decor {
	position: absolute;
	top: 50%;
}
.feedback__text-decor--left {
	left: 0;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.feedback__text-decor--right {
	right: 0;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.feedback__container {
	padding-top: 6.875rem;
	padding-bottom: 4.25rem;
	position: relative;
}
.feedback__title {
	text-transform: uppercase;
}
.feedback__title span {
	color: var(--clr-white);
}
.feedback__description {
	max-width: 22rem;
}
/** ================== /feedback ================== */

/** ================== company ================== */
.company__inner {
	padding: 3.125rem 0;
	position: relative;
}
.company__img-bg {
	width: 55%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.company-info {
	max-width: 41rem;
	position: relative;
}
.company-info__title {
	margin-bottom: 0.75rem;
}
.company-info__subtitle {
	margin-bottom: 0.75rem;
	font-weight: 500;
	font-size: 1.0625rem;
	line-height: 150%;
}
.company-info__text {
	font-weight: 300;
	font-size: 1.0625rem;
	line-height: 175%;
}

.company-info__text a {
	font-weight: 500;
	text-decoration: none;
	-webkit-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}
.company-info__text a:hover {
	color: var(--clr-accent);
}
/** ================== /company ================== */

/** ================== advantages-company ================== */
.advantages-company {
	padding: 3.125rem 0;
	background-color: var(--clr-white);
}
.advantages-company__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	gap: 3.125rem;
}
.advantages-company__item {
	max-width: 32.5rem;
}
.advantages-company__icon-wrapper {
	margin-bottom: 1rem;
	width: 5.3125rem;
	height: 5.3125rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	border-radius: 50%;
	border: 0.1875rem solid var(--clr-accent);
}
.advantages-company__icon-wrapper svg {
	width: 2.6875rem;
	height: 2.6875rem;
}
.advantages-company__description {
	line-height: 150%;
}
/** ================== /advantages-company ================== */

/** ================== certificate-company ================== */
.certificate-company {
	padding: 3.125rem 0;
}
.certificate-company__title {
	text-align: center;
}
.certificate-company__slide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.certificate-company__img-wrapper {
	max-width: 15rem;
}
/** ================== /certificate-company ================== */

/** ================== page-application ================== */
.application {
	padding-bottom: 3.125rem;
}
.application__tex-box {
	margin-bottom: 3rem;
	display: -ms-grid;
	display: grid;
	justify-items: center;
	gap: 1.125rem;
	text-align: center;
}
.application__subtitle {
	padding: 0.375rem 1.125rem;
	display: inline-block;
	font-weight: 800;
	font-size: 1.75rem;
	color: var(--clr-main);
	background-color: var(--clr-accent);
}
.application__subtitle span {
	color: var(--clr-white);
}
.application__title {
	margin: 0;
}
.application__description {
	max-width: 29.6875rem;
}

.tabs-application__navigation {
	--border-radius: 6.25rem;
	margin-bottom: 5rem;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	border-radius: var(--border-radius);
	overflow: hidden;
}
.tabs-application__btn {
	padding: 1.25rem 0.75rem;
	font-weight: 500;
	font-size: 1.25rem;
	text-align: center;
	background-color: var(--clr-white);
	border: 1px solid var(--clr-main);
	-webkit-transition: background-color .2s ease-in;
	-o-transition: background-color .2s ease-in;
	transition: background-color .2s ease-in;
	max-width: 20rem;
	width: 100%;
}
.tabs-application__btn:not(:last-child) {
	border-right: none;
}
.tabs-application__btn.active {
	background-color: var(--clr-accent);
}
.tabs-application__btn:first-child {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.tabs-application__btn:last-child {
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.cards-application {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	gap: 1rem;
}
.cards-application__item {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 32%;
	        flex: 0 1 32%;
	padding: 2.125rem 0.25rem;
	border-radius: 1rem;
	background-color: var(--clr-white);
	text-align: center;
}
.cards-application__item > *:not(:last-child) {
	margin-bottom: 1rem;
}
.cards-application__item-icon {
	margin-left: auto;
	margin-right: auto;
	padding: 0.25rem;
	width: 5.3125rem;
	height: 5.3125rem;
	border-radius: 50%;
	background-color: var(--clr-accent);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.cards-application__item-icon img,
.cards-application__item-icon svg {
	width: 2.625rem;
	height: 2.625rem;
}
.cards-application__item-title {
	font-weight: 600;
	font-size: 1rem;
	text-transform: uppercase;
}

.tabs-application__blog {
	margin-bottom: 3.125rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	align-items: center;
	gap: 1.5rem;
}

.info-application {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 50%;
	        flex: 0 1 50%;
}
.info-application__text-box {
	margin-bottom: 2rem;
}
.info-application__subtitle {
	margin-bottom: 0.625rem;
	font-weight: 800;
	font-size: 1.125rem;
	text-transform: uppercase;
}
.info-application__subtitle span {
	color: var(--clr-accent);
}
.info-application__title {
	margin-bottom: 1rem;
	font-weight: 600;
	font-size: 1.5rem;
}
.info-application__description {
	font-size: 1.125rem;
	line-height: 150%;
}
.info-application__title-list {
	margin-bottom: 1.25rem;
	font-size: 1.125rem;
	font-weight: 600;
}
.info-application__list {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 24rem;
	grid-template-columns: 24rem;
	gap: 0.75rem;
}
.info-application__item {
	padding: 0.875rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 1.125rem;
	border-radius: 0.5rem;
	background-color: var(--clr-white);
	border: 1px solid var(--border);
}
.info-application__item-icon {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 10%;
	        flex: 0 1 10%;
}
.info-application__item-icon img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	   object-fit: contain;
}
.info-application__item-text {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 80%;
	        flex: 0 1 80%;
	font-size: 14px;
}

.video-application {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 45%;
	        flex: 0 1 45%;
	position: relative;
}
.video-application__preview {
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.video-application__play {
	width: 5rem;
	height: 5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	pointer-events: none;
}
/** ================== /page-application ================== */

/** ================== page-contacts ================== */
.page-contacts {
	background-color: var(--bg-clr);
}
.contacts__inner {
	padding: 3.125rem 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	gap: 1rem;
}
.contacts__info,
.contacts__form {
	flex: 0 1 45%;
	padding: 1.5rem;
	border-radius: 0.75rem;
	border: 1px solid var(--border);
	background-color: var(--clr-white);
	-webkit-box-shadow: 0.9375rem 0.9375rem 3.125rem rgba(0,0,0,.15);
	        box-shadow: 0.9375rem 0.9375rem 3.125rem rgba(0,0,0,.15);
}
.contacts__info-title,
.form-contacts__title {
	margin-bottom: 1.5rem;
	padding-bottom: 1rem;
	font-weight: 800;
	font-size: 1.5rem;
	border-bottom: 1px solid var(--border);
}
.contacts__info-list li + li {
	margin-top: 1rem;
}
.item-contacts-info p + p {
	margin-top: 0.25rem;
}
.item-contacts-info__title {
	margin-bottom: 0.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 0.5rem;
	font-weight: 600;
	font-size: 1rem;
}
.item-contacts-info__title-icon {
	width: 1.25rem;
	height: 1.25rem;
}
.item-contacts-info__text {
	font-weight: 300;
	line-height: 150%;
}
.item-contacts-info__text a {
	text-decoration: none;
	-webkit-transition: color .3s ease-in;
	-o-transition: color .3s ease-in;
	transition: color .3s ease-in;
}
.item-contacts-info__text a:hover {
	color: var(--clr-accent);
}
.contacts__form {
	width: 100%;
}
.form-contacts__input,
.form-contacts__textarea {
	margin-bottom: 0.5rem;
	padding: 1rem 1rem 1rem 0;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid var(--border);
}
.form-contacts__textarea {
	min-height: 7.5rem;
	resize: none;
}
.form-contacts__btn {
	margin-top: 1rem;
	width: 100%;
}
.contacts__map {
	margin-bottom: 3.125rem;
	/* -webkit-box-flex: 0;
	    -ms-flex: 0 1 65%;
	        flex: 0 1 65%; */
	min-height: 30rem;
	border-radius: 0.75rem;
	border: 1px solid var(--border);
	overflow: hidden;
	-webkit-box-shadow: 0.9375rem 0.9375rem 3.125rem rgba(0,0,0,.15);
	        box-shadow: 0.9375rem 0.9375rem 3.125rem rgba(0,0,0,.15);
}
[class*="ground-pane"]{
	-webkit-filter: grayscale(1);
	        filter: grayscale(1);
}
/** ================== /page-contacts ================== */

/** ================== banner ================== */
.banner {
	padding: 3.125rem 0;
}
.banner__img {
	border-radius: 1.875rem;
	overflow: hidden;
}
/** ================== /banner ================== */

/** ================== catalog ================== */
.page-catalog {
	margin-top: 12.5rem;
}
.catalog {
	padding-bottom: 3.125rem;
}
.catalog__grid {
	margin-top: 0.75rem;
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
	gap: 1.5rem;
}

.card-catalog {
	padding: 1.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	border: 1px solid var(--border);
	border-radius: 1.5rem;
	text-decoration: none;
	background-color: var(--clr-white);
	-webkit-transition: border-color .3s ease-in, -webkit-transform .3s ease-in, -webkit-box-shadow .3s ease-in;
	transition: border-color .3s ease-in, -webkit-transform .3s ease-in, -webkit-box-shadow .3s ease-in;
	-o-transition: transform .3s ease-in, border-color .3s ease-in, box-shadow .3s ease-in;
	transition: transform .3s ease-in, border-color .3s ease-in, box-shadow .3s ease-in;
	transition: transform .3s ease-in, border-color .3s ease-in, box-shadow .3s ease-in, -webkit-transform .3s ease-in, -webkit-box-shadow .3s ease-in;
}
.card-catalog:hover {
	-webkit-transform: translateY(-0.5rem);
	    -ms-transform: translateY(-0.5rem);
	        transform: translateY(-0.5rem);
	border-color: var(--clr-main);
	-webkit-box-shadow: 0 15px 15px 0 rgba(0,0,0,.05);
	        box-shadow: 0 15px 15px 0 rgba(0,0,0,.05);
}
.card-catalog > *:not(:last-child) {
	margin-bottom: 1rem;
}
.card-catalog__img {
	border-radius: 0.75rem;
	overflow: hidden;
}
.card-catalog:hover .card-catalog__img img {
	-webkit-transition: -webkit-transform .3s linear;
	transition: -webkit-transform .3s linear;
	-o-transition: transform .3s linear;
	transition: transform .3s linear;
	transition: transform .3s linear, -webkit-transform .3s linear;
}
.card-catalog:hover .card-catalog__img img {
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
} 
.card-catalog__title {
	font-weight: 800;
	font-size: 1rem;
	line-height: 150%;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
.card-catalog__size {
	padding: 0.375rem 1.5rem;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.05em;
	text-align: center;
	border-radius: 0.25rem;
	border: 1px solid var(--clr-main);
}
.card-catalog__price {
	margin-top: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	gap: 0.75rem;
	font-weight: 600;
	font-size: 1.5rem;
	letter-spacing: 0.05em;
	color: var(--clr-accent);
}
.card-catalog__price-title {
	font-size: 1rem;
	color: var(--clr-main);
	opacity: 0.8;
}
.card-catalog__buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 0.75rem;
}
.card-catalog__btn {
	padding: 0.75rem;
	width: 100%;
	font-weight: 600;
	font-size: 0.875rem;
	text-align: center;
	background-color: var(--clr-gray);
	border-radius: 0.5rem;
	-webkit-transition: background-color .3s ease-in;
	-o-transition: background-color .3s ease-in;
	transition: background-color .3s ease-in;
}
.card-catalog:hover .card-catalog__btn {
	background-color: var(--clr-accent);
}
/** ================== /catalog ================== */

/** ================== product-card ================== */
.page-product-card {
	margin-top: 12rem;
}

.product-card {
	padding-bottom: 3.125rem;
}
.product-card__inner {
	display: -ms-grid;
	display: grid;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: start;
	-ms-grid-columns: 1fr 2rem 1fr;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}
.product-card__content,
.product-card__info {
	padding: 2rem;
	border-radius: 1.25rem;
	border: 1px solid var(--border);
}
.product-card__slider {
	max-width: 34rem;
}
.product-card__slide {
	height: 25rem;
}
.product-card__slide img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	   object-fit: contain;
}
.product-card__content li + li {
	margin-top: 0.75rem;
}
.product-card__content ol {
	counter-reset: number;
}
.product-card__content li {
	list-style-type: none;
}
.product-card__content li::before {
	margin-right: 0.5rem;
	margin-bottom: 0.25rem;
	padding: 0.25rem;
	counter-increment: number;
	content: counter(number);
	font-weight: 500;
	font-size: 0.75rem;
	color: var(--clr-accent);
	border-radius: 50%;
	border: 1px solid var(--clr-accent);
	width: 1.5rem;
	height: 1.5rem;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.product-card__title {
	padding-bottom: 1.125rem;
	border-bottom: 1px solid var(--border);
	font-weight: 700;
	font-size: 1.25rem;
}
.product-card__box {
	padding: 1.125rem 0;
	border-bottom: 1px solid var(--border);
}
.product-card__subtitle {
	margin-bottom: 1rem;
	font-weight: 600;
	font-size: 1.125rem;
}
.product-card__text {
	line-height: 150%;
}
.product-card__sub-box > *:not(:last-child) {
	margin-bottom: 1rem;
}
.product-card__info {
	margin-top: 2rem;
}
.product-card__info-top {
	padding-bottom: 1.125rem;
	border-bottom: 1px solid var(--border);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}
.product-card__price {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	gap: 0.5rem;
}
.product-card__price-title {
	font-weight: 800;
	font-size: 1.25rem;
}
.product-card__price-text {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--clr-accent);
}
.product-card__form {
	padding-top: 1.125rem;
}
/** ================== /product-card ================== */

/** ================== footer ================== */
.footer {
	padding: 2rem 0;
	background-color: var(--clr-accent);
}
.footer__inner {
	padding: 1.25rem 2.5rem;
	border-radius: 0.75rem;
	border: 1px solid var(--border);
	background-color: var(--clr-white);
}
.footer__top {
	padding-bottom: 1.25rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	gap: 2rem;
}
.footer__bottom {
	padding-top: 1.25rem;
	border-top: 1px solid var(--border);
}
.footer__logos {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 1.875rem;
}
.footer__logo {
	max-width: 6.5rem;
	-webkit-transition: -webkit-transform .4s ease-in-out;
	transition: -webkit-transform .4s ease-in-out;
	-o-transition: transform .4s ease-in-out;
	transition: transform .4s ease-in-out;
	transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}
.footer__logo:hover {
	-webkit-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	        transform: scale(0.9);
	opacity: 0.9;
}
.footer__logo img {
	width: 100%;
}
.footer__copy {
	text-align: center;
}
/** ================== /footer ================== */

/** ================== @media ================== */
@media (max-width: 1200px){
	.product-card__slider {
		max-width: 30rem;
	}
}
@media (max-width: 992px) {
	html {
		font-size: 90%;
	}

	.links-contacts__link + .links-contacts__link {
		margin-left: 1.25rem;
	}
	.links-contacts__link {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.links-contacts__title {
		display: none;
	}

	.home__slide {
		padding: 3rem 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		gap: 2rem;
	}
	.home__slide-img {
		max-width: 22rem;
		position: static;
		-webkit-transform: none;
		    -ms-transform: none;
		        transform: none;
	}
	.home__slide-content {
		gap: 1rem;
	}
	.home__slide-subtitle {
		font-size: 1rem;
	}
	.home__slide-title {
		font-size: 2.5rem;
	}
	.home__slide-description {
		font-size: 1.125rem;
	}

	.profit__container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		gap: 2rem;
	}
	.profit__text {
		text-align: center;
	}
	.profit__list-icon {
		margin-right: 1rem;
	}
	.profit__list-icon svg {
		max-width: 1.75rem;
	}

	.manufacturer__container {
		padding-top: 3.125rem;
		padding-bottom: 3.125rem;
	}
	.manufacturer__bg {
		bottom: 5%;
		left: 50%;
		-webkit-transform: translate(-50%);
		    -ms-transform: translate(-50%);
		        transform: translate(-50%);
		opacity: 0.3;
	}
	.manufacturer__img-left {
		display: none;
	}

	.contacts__info,
	.contacts__form {
		flex: 0 1 49%;
	}	

	.form__input,
	.form__message {
		padding: 0.6875rem 1.125rem 0.8125rem;
	}

	.feedback__text-decor {
		max-width: 2.5rem;
	}
	.feedback__container {
		padding-top: 3.125rem;
		padding-bottom: 3.125rem;
	}
	.form-feedback__grid {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		-ms-grid-rows: (1fr)[7];
		grid-template-rows: repeat(7, 1fr);
	}
	.form-feedback__grid > *:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.form-feedback__grid > *:nth-child(2) {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
	}
	.form-feedback__grid > *:nth-child(3) {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
	}
	.form-feedback__grid > *:nth-child(4) {
		-ms-grid-row: 4;
		-ms-grid-column: 1;
	}
	.form-feedback__grid > *:nth-child(5) {
		-ms-grid-row: 5;
		-ms-grid-column: 1;
	}
	.form-feedback__grid > *:nth-child(6) {
		-ms-grid-row: 6;
		-ms-grid-column: 1;
	}
	.form-feedback__grid > *:nth-child(7) {
		-ms-grid-row: 7;
		-ms-grid-column: 1;
	}
	.form-feedback__message {
		grid-row: 5 / -1;
	}

	.product-card__inner {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
	.product-card__gallery {
		margin: 0 auto;
		max-width: -webkit-fit-content;
		max-width: -moz-fit-content;
		max-width: fit-content;
	}
	.product-card__slide {
		height: 21rem;
	}
}

@media (max-width: 768px) {
	html {
		font-size: 80%;
	}

	._spt {
		padding-top: 8rem;
	}
	._smt {
		margin-top: 8rem;
	}

	.block-text__title {
		font-size: 1rem;
	}
	.block-text__subtitle {
		font-size: 3rem;
	}

	.page-home .products {
		padding: 3.125rem 0;
	}
	.products__decor--top {
		top: -4rem;
		max-width: 12.5rem;
	}
	.products__decor--bottom {
		bottom: -10rem;
		/* right: -3.125rem; */
		max-width: 27rem;
	}
	.block-text__title {
		font-size: 3rem;
	}
	.products__subtitle {
		font-size: 1.25rem;
	}

    .header .links-contacts__link {
        display: none;
    }
    .links-contacts__text {
        display: none;
    }

    .header__inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .header__top {
        padding-bottom: 0;
    }
    .header__bottom {
        padding-top: 0;
        border-top: none;
    }
    .header__btn {
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
    }

	.menu__icon {
		display: block;
	}
    .menu__body {
        width: 100%;
        height: 100vh;
        background-color: var(--clr-white);
        position: absolute;
        top: 0;
        left: -100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow: auto;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
    }
    .menu__body.active {
        left: 0%;
    }
    .menu__list {
        margin: auto;
        padding: 30px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 0;
    }
    .menu a {
        display: block;
        font-size: 24px;
        line-height: 200%;
    }

	.home__slide {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.home__slide-content {
		text-align: center;
	}
	.home__slide-btn + .home__slide-btn {
		margin-left: 1rem;
	}
	.home__slider-button-next {
		left: auto;
	}
	.home__slider-pagination.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
		width: 100%;
		left: 0;
	}

	.manufacturer__subtitle {
		font-size: 1.5rem;
	}
	.manufacturer__title {
		font-size: 2rem;
	}

	.profit__list {
		-ms-grid-columns: (1fr)[2];
		grid-template-columns: repeat(2, 1fr);
		-ms-grid-rows: (1fr)[2];
		grid-template-rows: repeat(2, 1fr);
	}

	.profit__list > *:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}

	.profit__list > *:nth-child(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 2;
	}

	.profit__list > *:nth-child(3) {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
	}

	.profit__list > *:nth-child(4) {
		-ms-grid-row: 2;
		-ms-grid-column: 2;
	}
	.profit__list-item--3 {
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
		grid-column: 1 / 3;
	}

	.partner__container {
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
	.partner__info {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 60%;
		        flex: 0 1 60%;
	}
	.partner__img-wrapper {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 35%;
		        flex: 0 1 35%;
	}

	.company__img-bg {
		width: 70%;
	}

	.tabs-application__btn {
		padding: 1rem 0.5rem;
		max-width: 100%;
	}
	.cards-application__item {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 48%;
		        flex: 0 1 48%;
	}

	.page-catalog,
	.page-product-card {
		margin-top: 6.25rem;
	}

	.contacts__inner {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.contacts__info,
	.contacts__map {
		width: 100%;
	}

	.footer__top {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.footer__contacts {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		gap: 2rem;
	}
	.footer__contacts .links-contacts__link + .links-contacts__link {
		margin-left: 0;
	}
	.footer__contacts .links-contacts__link {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	.footer__contacts .links-contacts__text,
	.footer__contacts .links-contacts__title {
		display: block;
	}
}

@media (max-width: 576px) {
	.partner__container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
		text-align: center;
	}

	.advantages-company__list {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		text-align: center;
	}
	.advantages-company__icon-wrapper {
		margin-left: auto;
		margin-right: auto;
	}

	.tabs-application__blog {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.info-application,
	.video-application {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
}

@media (max-width: 425px) {
    html {
		font-size: 70%;
	}

    .header__btn {
        display: none;
    }

	.manufacturer__subtitle {
		font-size: 1.25rem;
	}
	.manufacturer__title {
		font-size: 1.5rem;
	}

	.our-advantages__list {
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}

	.products__cards {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
	.card-products__img-wrapper {
		height: 10rem;
	}

	.product-card__slide {
		height: 16rem;
	}

	.info-application__list {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
}